# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# VS Code
.vscode/

# Dataset
dataset/raw/*.json
dataset/processed/*.csv

# Logs
*.log

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Docker
docker-data/

# Experiment Outputs
experiments/logs/

# Generated Graphs
paper_assets/results/

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/